@{
    Layout = "_Layout";
}

@using GroupTracker.Models

<h1>D&D Group Tracker</h1>

<hr>

<h2>Campaigns:</h2>
@if (Model["campaigns"].Length == 0)
{
    <h3>No active campaigns.</h3>
}
<ul>
    @foreach (Campaign campaign in Model["campaigns"])
    {
        <li>@Html.ActionLink(@campaign.Title, "Details", "Campaigns", new {id = @campaign.CampaignId})</li>
    }
</ul>

<h2>Players:</h2>
@if (Model["players"].Length == 0)
{
    <h3>No current players.</h3>
}
<ul>
    @foreach (Player player in Model["players"])
    {
        <li>@Html.ActionLink(@player.Name, "Details", "players", new {id = @player.PlayerId})</li>
    }
</ul>

<hr>

<h4>@Html.ActionLink("Add Campaign", "Create", "Campaigns")</h4>
<h4>@Html.ActionLink("Add Player", "Create", "Players")</h4>