@{
    Layout = "_Layout";
}

@model GroupTracker.Models.Campaign

<h2>Add a player to: @Html.DisplayFor(model => model.Title)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CampaignId)

    @Html.Label("Select Player")
    @Html.DropDownList("PlayerId")

    <input type="submit" value="Save" class="btn btn-primary" />
}
<br>
<br>
<h2>@Html.ActionLink("Back to Details", "Details", new {id = Model.CampaignId})</h2>
