@{
    Layout = "_Layout";
}

@model GroupTracker.Models.Player

<h2>Add a campaign to: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PlayerId)

    @Html.Label("Select Campaign")
    @Html.DropDownList("CampaignId")

    <input type="submit" value="Save" class="btn btn-primary" />
}
<br>
<br>
<h2>@Html.ActionLink("Back to Details", "Details", new {id = Model.PlayerId})</h2>